:root {
  --primary-text-color: #2c2c2c;
  --background-color: #fefefe;
  --secondary-background-color: #ffe550;
  --btn-color: #bbf330;
  --link-color: #7eb101;
  --form-color: #505050;
  --white-color: #ffffff;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: var(--primary-text-color);
  background-color: var(--background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1280px;
  padding: 0 16px;
  margin: 0 auto;
}

/**-------HEADER-----**/

.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
  color: var(--primary-text-color);
}
.header-logo {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
}
.header {
  padding-top: 10px;
  padding-bottom: 10px;
}
.header-menu {
  display: flex;
  gap: 24px;
}
.button {
  display: flex;
  border-radius: 30px;
  background: var(--btn-color);
  padding: 6px 18px;
  border: none;
  color: var(--primary-text-color, #2c2c2c);
  line-height: 150%;
}
.header-nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  color: var(--primary-text-color, #2c2c2c);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header-container {
  display: flex;
  align-items: center;
  gap: 30px;
}
.span {
  color: var(--btn-color);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

/* *----Hero----- */
.hero {
  padding-top: 14px;
  background-color: var(--background-color);
}

.hero-title {
  color: var(--primary-text-color);
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  max-width: 502.417px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  padding-top: 159px;
  margin-bottom: 28px;
}

.hero-text {
  color: var(--primary-text-color);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  display: flex;
  max-width: 511px;
  height: 69px;
  flex-direction: column;
  flex-shrink: 0;
  margin-bottom: 40px;
}

.hero-btn {
  color: var(--primary-text-color);
  text-align: right;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  border: none;
  padding: 6px 18px;
  display: block;
  border-radius: 30px;
  background-color: #BBF330;
  justify-content: center;
  align-items: center;
}

.hero-wrap {
  display: flex;
  gap: 169px;
}

.hero-img {
  border-radius: 269px;
}

.hero-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 580px;
  height: 580px;
  border-radius: 50%;
  border: 26px solid #FFE550;
}

/* <-- Offerings Anastasia--> */
.offerings {
  background-color: var(--secondary-background-color);
}

.offerings-container {
  display: flex;
  justify-content: space-between;
  gap: 90px;
}

.offerings-img-container {
  max-width: 550px;
  max-height: 550px;
  width: 100%;
  padding-left: 16px;
  padding-bottom: 43px;
  margin-top: 231px;
}

.offerings-img {
  margin: 0px 70px 102px 84px;
  transform: translateY(-54px);
}

.offerings-title {
  color: var(--black, #2C2C2C);
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 20px;
  max-width: 526px;
  padding-top: 260px;
}

.offerings-text {
  color: var(--black, #2C2C2C);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  max-width: 500px;
  margin-bottom: 96px;
  display: flex;
  width: 500px;
  flex-direction: column;
  flex-shrink: 0;
}

.offerings-list {
  display: flex;
  gap: 67px;
}

.offerings-item {
  min-width: 253px;
}

.offerings-item-title {
  margin-bottom: 16px;
  color: var(--black, #2C2C2C);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.4;
}

.offerings-item-text {
  color: var(--black, #2C2C2C);
  font-size: 14px;
   width: 253px;
  flex-direction: column;
  flex-shrink: 0;
}

.offerings-btn {
  color: var(--black, #2C2C2C);
  font-family: Roboto;
   display: inline-flex;
  padding: 10px 22px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 2px solid var(--dark-green, #7EB101);
  background: #FFF;
  margin-top: 32px;
  margin-bottom: 79px;
  min-width: 106px;
  height: 40px;
}

.offerings-btn:hover,
.offerings-btn:focus {
border-radius: 30px;
background: #BBF330;
border: none;
}
  
/* <-- Favorites Ivan--> */
/* <-- Customers Say Sergiy--> */

/* <-- Subscribe Oleksiy--> */

.subscribe-container {
  padding: 0;
  background: url(../images/banan.png), lightgray 55px -0.372px / 89.803% 100.28% no-repeat;
  background-repeat: no-repeat;
  background-position: 640px 0;
  background-size: 608px 266px;
}

.subscribe-title {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  padding-bottom: 20px;
  padding-top: 46px;
}
.subscribe-text {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-bottom: 24px;
}
.subscribe-btn {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  display: inline-flex;
  padding: 11px 22px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: var(--button-green, #bbf330);
  background-color: var(--button-green, #bbf330);
  margin-left: 32px;
}
.subscribe-btn:hover,
:focus {
  background-color: #ffe450;
  border: #ffe450;
}
.form-input {
  height: 42px;
  padding: 12px 57px 12px 12px;
  align-items: center;
  flex: 1 0 0;
  border-radius: 30px;
  border: 0.854px solid var(--yellow-main, #ffe550);
  background-color: var(--white, #fefefe);
  margin-bottom: 100px;
}

.form-input::placeholder {
  color: var(--form-color);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

/* <-- Footer Christina--> */
.footer-content {
  background:var(--white-color);
    box-shadow: 0px -4px 24px 0px rgba(105, 105, 105, 0.10);
    background-image: url(../images/footer-1.png),
    url(../images/footer-2.png),
    url(../images/footer-3.png),
    url(../images/footer-4.png),
    url(../images/footer-5.png),
    url(../images/footer-6.png),
    url(../images/footer-7.png),
    url(../images/footer-8.png);
    background-repeat: no-repeat;
      background-position: bottom left 216px , bottom, bottom right 184px,
       bottom left 53px, bottom right 362px, bottom left 410px, bottom, bottom right;
     
      
}

.logo-content {
  display: flex;
}
.footer-logo {
  margin-top: 100px;
  margin-right: 148px;
}

.footer-nav-ul {
display: flex;
gap: 28px;
}
.footer-nav-li {
  margin-top: 118px;
margin-bottom: 147px;
}
.footer-nav-link {
color: #2C2C2C;

}
.footer-nav-link:hover {
  color: var(--link-color);
} 

.footer-nav-link:focus {
color: var(--link-color);
}

.footer-form-content {
  margin-left: auto;
}
.footer-form-tittle {
  color: var(--black, #2C2C2C);
  margin-bottom: 12px;
}
.footer-form {
  margin-top: 100px;
}
.footer-input {
  height: 42px;
    padding: 12px 61.5px 12px 12px;
    align-items: center;
    flex-shrink: 0;
     border-radius: 30px;
    border: 0.854px solid var(--secondary-background-color);
    background: var(--white-color);
    margin-bottom: 12px;
    margin-right: 13px;
    min-width: 279px;
}
.footer-click {
  padding: 11px 22px;
  min-width: 103px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 0.854px solid var(--btn-color);
    background: var(--white-color);
}
.footer-click:focus,
.footer-click:hover {
  background-color: var(--btn-color);
}
.footer-copyright {
  display: flex;
}
.footer-copyright-ul {
  display: flex;
  gap: 20px;
  
}
.footer-copyright-link {
  color: var(--link-color);
  font-size: 12px;
line-height: normal;
text-decoration-line: underline;
}
.footer-copyright-link:focus,
.footer-copyright-link:hover {
  color: var(--form-color);
}

.paragraph {
  color: var(--primary-text-color);
font-size: 12px;
line-height: normal;
margin-left: auto;
}

